body {
  margin: 0;
  font-family: 'Inter', "sans-serif";
}
p {
  margin: 0;
}
@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.profile-container {
  display: flex; 
  flex-direction: column; 
  /* justify-content: space-between;  */
  gap: 20px; 
  width: 350px; 
  height: 80vh; 
  background-color: rgb(31, 31, 31); 
  border-radius: 10px; 
  box-sizing: border-box; 
  padding: 20px;
} 

section.lower {
  height: 100%;
}
section a {
  font-size: 0.9rem;
  text-decoration: none; 
  color: white;
  text-align: center; 
  background-color: hsl(0, 0%, 20%); 
  padding: 13px;
  border-radius: 6px; 
  font-weight: bold; 
  transition: background-color 0.1s ease;
  cursor: pointer;
}
section a:hover {
  background-color: rgb(42, 41, 41);
}

@media screen and (max-width: 540px) {
    .profile-container {
      height: auto;
      width: 100%;
      border-radius: 0;
      background-color: rgb(20, 20, 20); 
      padding: 30px;
    }
  }